name: Docker Build

on:
  push:
    branches: [ dev, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build Docker image
        run: docker build -t ml-inference-api .
      - name: Push to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Tag & Push
        run: |
          docker tag ml-inference-api ghcr.io/${{ github.repository_owner }}/ml-inference-api:latest
          docker push ghcr.io/${{ github.repository_owner }}/ml-inference-api:latest
